<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/shop-homepage.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

</head>

<body>
<!-- Navigation -->
<input id="cID" type="hidden" id="cID" value="{{ cID }}"/>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">GreenLife</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="welcome">
                    <p id="hello">{{ hello }}</p>
                    <p id="firstName">{{ name }}</p>
                </li>
                <li id="loginOut" class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signIn">{{ loginout }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link notActive" href="#" style="display:{{ display }}" href="{{ url_for('review') }}">Order</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div id="signIn" class="text-center modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <form id="formLogin" class="formLogin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                    <input type="hidden" name="post" class="form-control" value="logInOut"/>

                    <label for="inputEmail" class="sr-only">Email:</label>
                    <input type="email" id="inputEmail" name="userEmail" class="form-control" placeholder="Email address" required autofocus/>

                    <label for="inputPassword" class="sr-only">Password:</label>
                    <input type="password" id="inputPassword" name="userPwd" class="form-control" placeholder="Password" required/>

                    <label for="buttonLogin" class="sr-only">Login:</label>
                    <button id="buttonLogin" type='button' class="btn btn-lg btn-primary btn-block btn-color" value="login">login</button>
                    <a href="{{ url_for('register') }}">No account? Sign up here</a>

                    <br/>
                    <p id="loginHint"></p>

{#                    {% for message in get_flashed_messages() %}#}
{#                        {{message}}#}
{#                    {%endfor%}#}
                    <br/>
                    <p class="mt-5 mb-3 text-muted">@greeneat</p>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="formSearch" method="get">

                <div class="input-group mb-3 mt-4">
                    <label for="selectRecord" class="sr-only">SelectRecord:</label>
                    <input type="text" id="selectRecord" name="selectRecord" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"  required autofocus/>

                    <div class="input-group-prepend">
                        <label for="buttonSearch" class="sr-only">Search:</label>
                        <button id="buttonSearch" name="buttonSearch" class="btn btn-outline-secondary search" value="search">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">

        <div class="col-2">

            <form class="list-group">
                <button name="category" href="#" class="list-group-item" type="button" value="Clothes">Clothes</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Shoes">Shoes</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Beverage">Beverage</button>
                <button name="category" href="#" class="list-group-item" type="button" value="vitamin">Vitamin</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Cooking - Baking">Cooking</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Breakfast">Breakfast</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Baby_Formula">Baby Formula</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Fresh_Flowers">Fresh Flowers</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Paper">Paper</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Cleaning">Cleaning</button>
                <button name="category" href="#" class="list-group-item" type="button" value="Laundry">Laundry</button>

            </form>

        </div>

        <div class="col-7 mt-4">

            <div class="row">
                <div class="col-12 justify-content-center align-items-center">
                    <div id="productDisplay" class="row">
                        <div id="carouselExampleIndicators" class="carousel slide col-12 mt-5" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <br/>
                                    <img name="carouselImg" class="d-block img-fluid"  style="margin: 0 auto" alt="No image resource" src={{ mostPopular1 }} >
                                    <p style="text-align: center">{{ n1 }}</p>
                                    <br/>
                                </div>
                                <div class="carousel-item">
                                    <br/>
                                    <img name="carouselImg" class="d-block img-fluid"  style="margin: 0 auto" alt="No image resource" src={{ mostPopular2 }}>
                                    <p style="text-align: center">{{ n2 }}</p>
                                    <br/>
                                </div>
                                <div class="carousel-item">
                                    <br/>
                                    <img name="carouselImg" class="d-block img-fluid"  style="margin: 0 auto" alt="No image resource" src={{ mostPopular3 }}>
                                    <p style="text-align: center">{{ n3 }}</p>
                                    <br/>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="background-color: orange">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color: orange">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <p id="carouselName"></p>
                    <!--pagination-->
                    <ul id="pagination" class="pagination"> </ul>
                </div>
            </div>

            <!-- /.row -->
        </div>


        {#      the cart        #}
        <form class="col-3 mt-4" id="cart" method="post">
            <input type="hidden" name="post" class="form-control" value="checkout"/>
            <!--display the goods you added-->
            <div id="addedItem">
            </div>

            <!--buy the good, laid at the bottom-->
            <div class="check">
                <p id="total"></p>
                <button id="placeOrder" style="display: {{ display }}">Place Order</button>
            </div>
        </form>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GreenLife</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery/jquery.twbsPagination.js') }}" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/shop-homepage.js') }}" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

</body>

</html>
